<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
        margin: 0;
        padding: 0;
    }

    p {
        padding: 10px;
    }

    .btns {
    margin: 10px 6px;
    height: 70px;
    width: 70px;
    color: #FFF;
    font-size: 16px;
    background-color: #696969;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition-duration: 0.5s;
    }

    .btns:hover {
    background-color: #000;
    }
    </style>
</head>
<body> 
    <div class="container" id="cnt">
        hi
    </div>



    
    <script>

    const play_btn = document.querySelector('#container');
    let audio1 = new Audio("../assets/sounds/sound.mp3");
    
    play_btn.addEventListener( 'click' , play );
    
    function play(){
        audio1.play();
    }
    </script>
</body>
</html>